body {
	margin-top:0px;
	margin-bottom:0px;
	margin-left: 0px; margin-right: 0px;
	background: ##22262A;
	font-family : "Trebuchet MS", Tahoma, Helvetica, sans-serif;
	color: #232323;
	font-size= 16px;
}


td {background= #ffffff; border-color=:#ffffff;}
.contacts { color: #CCCC99; font-weight:bold;}
.title { font-weight:bold; font-size: 20px; }